<div class="container-fluid">
  <ngb-carousel *ngIf="commonCurrencies$">
    <ng-container *ngFor="let currency of commonCurrencies$.value; let i = index">
      <ng-template ngbSlide>
        <div class="container">
          <div class="wrapper">
            <div class="background">
              <img id="{{i}}" [src]="urls[i]">
              <div class="background__opacity">
                <button (click)="chooseFile($event)" class="btn">
                  <input id="getFile" type="file" name="{{currency.currSymbol}}" style="display: none" (change)="changeImage($event)">
                  <fa-icon class="content__icon" [icon]="imgIcon"></fa-icon>
                </button>
              </div>
            </div>
            <div class="pair-details">
              <h1 class="pair-details__name">
                <fa-icon class="content__icon" [icon]="money"></fa-icon>
                {{baseCurrency.value}}/{{currency.currSymbol}}
              </h1>
              <p class="pair-details__value">One {{baseCurrency.value}} equals {{currency.currValue | number : '1.2-2'}}{{currency.currSymbol}}</p>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </ngb-carousel>
</div>
