<footer class="footer">
  <div class="footer__info">
    <div class="footer__desc">
        <h3>Latest API update: {{latestApiUpdate.value}}</h3>
        <h4>This site uses: <a href="https://exchangeratesapi.io/">Exchange rates API</a></h4>
    </div>
    <div class="footer__contact">
      <h3>Contact us</h3>
      <div class="footer__icons">
        <fa-icon class="content__icon" [icon]="fbIcon"></fa-icon>
        <fa-icon class="content__icon" [icon]="gitHubIcon"></fa-icon>
        <fa-icon class="content__icon" [icon]="mailIcon"></fa-icon>
      </div>
    </div>
  </div>
  <div class="footer__copyrights">Copyrights: wolczi <fa-icon class="content__icon" [icon]="copyrights"></fa-icon></div>
</footer>
