/* Color Theme Swatches in Hex */
$colorSilver: #EBF2F2;
$colorGreen: #317302;
$colorDarkGreen: #2C4001;
$colorGreenYellow: #465902;
$colorLime: #B9BF04;

/* Color Theme Swatches in RGBA */
$colorSilverRGB: rgba(234, 241, 242, 1);
$colorGreenRGB: rgba(49, 114, 2, 0.9);
$colorDarkGreenRGB: rgba(43, 63, 1, 0.3);
$colorGreenYellowRGB: rgba(70, 89, 1, 1);
$colorLimeRGB: rgba(185, 191, 3, 1);
