<div class="container" ngbSlide>
  <div class="wrapper">
    <div class="background">
      <div class="background__opacity">
        <button class="btn"><fa-icon class="content__icon" [icon]="imgIcon"></fa-icon></button>
      </div>
    </div>
    <div class="pair-details">
      <h1 class="pair-details__name">
        <fa-icon class="content__icon" [icon]="money"></fa-icon>
        {{baseCurrency}}/{{currencySymbol}}
      </h1>
      <p class="pair-details__value">One {{baseCurrency}} equals {{currencyValue}}{{currencySymbol}}</p>
    </div>
  </div>
</div>
